<div class="sidebar" data-background-color="dark" th:fragment="sidebar">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/admin/dashboard" class="logo">
                <img src="/assets/img/muadima_ad.png" alt="navbar brand" class="navbar-brand mt-3" height="70" width="99%"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="/admin/dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#user">
                        <i class="fas fa-users"></i>  <p>User Manager</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="user">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/user/list">
                                    <span class="sub-item">Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/user/create">
                                    <span class="sub-item">Form User</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#seller">
                        <i class="fas fa-store"></i> <p>Seller Manager</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="seller">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/seller/list">
                                    <span class="sub-item">Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/seller/create">
                                    <span class="sub-item">Form Seller</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/seller/listNoAccept">
                                    <span class="sub-item">Accept Seller</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#product">
                        <i class="fas fa-box"></i> <p>Product Manager</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="product">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/product/list">
                                    <span class="sub-item">Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/product/create">
                                    <span class="sub-item">Form Product</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/product/listNoAccept">
                                    <span class="sub-item">Accept product</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#productTypes">
                                    <i class="fas fa-th-list"></i> <p>Product Types Manager</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="productTypes">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/admin/product-type/list">
                                                <span class="sub-item">Table</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/product-type/create">
                                                <span class="sub-item">Form Product Types</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#order">
                        <i class="fas fa-shopping-cart"></i> <p>Order Manager</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="order">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/order/list">
                                    <span class="sub-item">Table</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#voucher">
                        <i class="fas fa-gift"></i> <p>Voucher Manager</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="voucher">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/admin/voucher/list">
                                    <span class="sub-item">Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/voucher/create">
                                    <span class="sub-item">Form Voucher</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/voucher/listNoAccept">
                                    <span class="sub-item">Accept Voucher</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</div>