<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#163ac7" />
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="canonical" href="index.html"/>
    <link rel="alternate" href="index.html" hreflang="vi" />
    <meta name='revisit-after' content='2 days' />
    <link rel="preconnect" href="index.html">
    <link rel="preconnect" href="http://www.google-analytics.com/">
    <link rel="preconnect" href="http://www.googletagmanager.com/">
    <link rel="preconnect" href="https://bizweb.dktcdn.net/" crossorigin>
    <link rel="dns-prefetch" href="index.html">
    <link rel="prefetch" href="index.html">
    <link rel="icon" href="/897121/assets/favicon47e9.png?1735554303306" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/897121/assets/favicon47e9.png?1735554303306">
    <meta name="robots" content="noodp,index,follow" />		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta name="description" content="OH! Thương mại điện tử phù hợp với các lĩnh vực thương mại điện tử, điện máy, bách hóa, đồ gia dụng, dụng cụ, thời trang, giày dép,... đa lĩnh vực">		<title>OH! Thương mại điện tử</title>
    <meta name="keywords" content="OH, Thương mại điện tử, Gia dụng, Điện máy, Thời trang, Mỹ phẩm"/>	<meta property="og:type" content="website">
    <meta property="og:title" content="OH! Thương mại điện tử">
    <meta property="og:image" content="/897121/assets/share_fb_home47e9.jpg?1735554303306">
    <meta property="og:image:secure_url" content="/897121/assets/share_fb_home47e9.jpg?1735554303306">
    <meta property="og:description" content="OH! Thương mại điện tử phù hợp với các lĩnh vực thương mại điện tử, điện máy, bách hóa, đồ gia dụng, dụng cụ, thời trang, giày dép,... đa lĩnh vực">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="OH! Thương mại điện tử">		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" as='style'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap');
        :root {
            font-size: 16px;
            --main-color: #163ac7;
            --hover: #16bcdc;
            --font-base: 'Roboto', sans-serif;
            --font-title: 'Roboto', sans-serif;
            --text-color: #000000;
            --price: #163ac7;
            --hover: #16bcdc;
            --menu: #ad0018;
            --bgcopoun: #ffeef2;
            --bgbestsale: #f8f8f8;
            --bgmailchip: #ffeef2;
        }
    </style>
    <link rel="preload" as='style' href="/897121/assets/header.scss47e9.css?1735554303306">
    <link rel="preload" as='style' href="/897121/assets/style.scss47e9.css?1735554303306">
    <link rel="preload" as='style' href="/897121/assets/index.scss47e9.css?1735554303306">
    <link rel="preload" as='style' href="/897121/assets/swiper-style.scss47e9.css?1735554303306">
    <link rel="preload" as='style' href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="/897121/assets/header.scss47e9.css?1735554303306" rel="stylesheet" type="text/css" media="all" />
    <link href="/897121/assets/style.scss47e9.css?1735554303306" rel="stylesheet" type="text/css" media="all" />
    <link href="/897121/assets/index.scss47e9.css?1735554303306" rel="stylesheet" type="text/css" media="all" />
    <link href="/897121/assets/swiper-style.scss47e9.css?1735554303306" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript">
        function addLoadEvent(e) { if (document.readyState === "complete") { e() } else { var t = window.onload; if (typeof window.onload != "function") { window.onload = e } else { window.onload = function () { if (t) { t() } e() } } } }
        window.theme = window.theme || {};
        var cartCount = 0;
        theme.settings = {
            moneyFormat: "{{amount_no_decimals_with_comma_separator}}₫",
            urlpage_yeuthich : 'san-pham-yeu-thich',
            urlColor: 'https://bizweb.dktcdn.net/100/459/160/files/bangmau.txt?v=1657188898447'
        };
    </script>
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'oh-thuong-mai-dien-tu.mysapo.net';
        Bizweb.id = 479080;
        Bizweb.theme = {"id":897121,"name":"OH! TMDT","role":"main"};
        Bizweb.template = 'index';
        if(!Bizweb.fbEventId)  Bizweb.fbEventId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    </script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>


    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';
        window.BizwebAnalytics.tracking_url = 's.html';

        var meta = {};


        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }
    </script>


    <script src="dist/js/stats.minbadf.js?v=96f2ff2"></script>













    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "LocalBusiness",
            "image":{
                "@type": "ImageObject",
                "@id": "/897121/assets/logo.png?1735554303306",
                "url": "/897121/assets/logo.png?1735554303306",
                "caption": "OH! Thương mại điện tử phù hợp với các lĩnh vực thương mại điện tử, điện máy, bách hóa, đồ gia dụng, dụng cụ, thời trang, giày dép,... đa lĩnh vực"
            },
            "name" : "OH! Thương mại điện tử",
            "telephone" : "1900 6750",
            "email" : "support@sapo.vn",
            "address" : {
                "@type" : "PostalAddress",
                "streetAddress" : "Tầng 6, Tòa Ladeco, 266 Đội Cấn, Q.Ba Đình, Hà Nội",
                "addressLocality" : "Hà Nội",
                "addressRegion" : "Hà Nội"
            },
            "url" : "//oh-thuong-mai-dien-tu.mysapo.net"
        }
    </script>
    <link rel="preload" as="image" href="/897121/assets/slider_147e9.jpg?1735554303306"  media="screen and (max-width: 480px)">
    <link rel="preload" as="image" href="/897121/assets/slider_147e9.jpg?1735554303306" media="screen and (min-width: 481px)" >
    <link rel="preload" as="image" href="/897121/assets/slider_247e9.jpg?1735554303306"  media="screen and (max-width: 480px)">
    <link rel="preload" as="image" href="/897121/assets/slider_247e9.jpg?1735554303306" media="screen and (min-width: 481px)" >
    <link rel="preload" href="dist/js/stats.min4143.js?v=69e02f0" as="script">
    <link rel="preload" href="/js/fp.v3.3.0.min.js" as="script">
    <link rel="preload" href="/897121/assets/jquery-plugin47e9.js?1735554303306" as="script">
    <link rel="preload" href="/897121/assets/swiper-plugin47e9.js?1735554303306" as="script">
    <link rel="preload" href="/897121/assets/main47e9.js?1735554303306" as="script">
    <link rel="preload" href="/897121/assets/index47e9.js?1735554303306" as="script">
    <link rel="preload" href="/themes_support/api.jquery.js" as="script">
    <link rel="preload" href="/897121/assets/minicart47e9.js?1735554303306" as="script">
    <link rel="preload" href="/897121/assets/option_selector47e9.js?1735554303306" as="script">
    <link rel="preload" href="/897121/assets/notify47e9.js?1735554303306" as="script">
    <link rel="preload" as='style' type="text/css" href="/897121/assets/notify.scss47e9.css?1735554303306">
</head>