<div class="col-xl-2 col-lg-2 left menu-main" th:fragment="menu-main">
    <div class="d-block d-xl-none menu-title bold">Menu<i class="fa fa-times"></i></div>
    <nav class="nav-horizontal main-menu white-border-10 padding-8 margin-bottom-20">
        <ul class="item_big">
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_ico_1.png?1735554303306)" href="sieu-sale-8-3.html" title="Siêu sale 8/3">Siêu sale 8/3</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_ico_2.png?1735554303306)" href="san-pham-khuyen-mai.html" title="Giá tốt mỗi ngày">Giá tốt mỗi ngày</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_ico_3.png?1735554303306)" href="san-pham-moi.html" title="Hot dưới 100k">Hot dưới 100k</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_ico_4.png?1735554303306)" href="ma-giam-gia.html" title="Mã giảm giá">Mã giảm giá</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_ico_5.png?1735554303306)" href="lien-he.html" title="Liên hệ với chúng tôi">Liên hệ với chúng tôi</a></li>
        </ul>
    </nav>
    <div class="nav-horizontal cate-menu white-border-10 padding-8 position-relative">
        <ul class="item_big">
            <li class="nav-item ">
                <a class="a-img caret-down lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_1.png?1735554303306)" href="dien-thoai-may-tinh.html" title="Điện thoại - máy tính">Điện thoại - máy tính</a>
                <i class="fa fa-angle-down"></i>
                <ul class="item_small">
                    <li>
                        <a class="caret-down" href="index.html" title="iPhone 14 Series">iPhone 14 Series</a>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            <li><a href="index.html" title="iPhone 14" class="a3">iPhone 14</a></li>
                            <li><a href="index.html" title="iPhone 14 Pro max" class="a3">iPhone 14 Pro max</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html" title="iPhone 13 Series">iPhone 13 Series</a></li>
                    <li><a href="index.html" title="iPhone 12 Series">iPhone 12 Series</a></li>
                </ul>
            </li>
            <li class="nav-item ">
                <a class="a-img caret-down lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_2.png?1735554303306)" href="dong-ho.html" title="Đồng hồ">Đồng hồ</a>
                <i class="fa fa-angle-down"></i>
                <ul class="item_small">
                    <li><a href="index.html" title="Casio">Casio</a></li>
                    <li><a href="index.html" title="Rolex">Rolex</a></li>
                    <li><a href="index.html" title="Royal Crown">Royal Crown</a></li>
                </ul>
            </li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_3.png?1735554303306)" href="me-va-be.html" title="Mẹ và bé">Mẹ và bé</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_4.png?1735554303306)" href="noi-that-nha-cua.html" title="Nội thất nhà cửa">Nội thất nhà cửa</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_5.png?1735554303306)" href="dung-cu-nha-bep.html" title="Dụng cụ nhà bếp">Dụng cụ nhà bếp</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_6.png?1735554303306)" href="giay-dep.html" title="Giày dép">Giày dép</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_7.png?1735554303306)" href="thoi-trang-nam.html" title="Thời trang nam">Thời trang nam</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_8.png?1735554303306)" href="balo-va-vali.html" title="Balo và Vali">Balo và Vali</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_9.png?1735554303306)" href="thoi-trang-nu.html" title="Thời trang nữ">Thời trang nữ</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_10.png?1735554303306)" href="xe-may-xe-dap.html" title="Xe máy - Xe đạp">Xe máy - Xe đạp</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_11.png?1735554303306)" href="phu-tung-o-to.html" title="Phụ tùng ô tô">Phụ tùng ô tô</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_12.png?1735554303306)" href="dien-gia-dung.html" title="Điện gia dụng">Điện gia dụng</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_13.png?1735554303306)" href="sach-truyen.html" title="Sách truyện">Sách truyện</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_14.png?1735554303306)" href="trang-suc.html" title="Trang sức">Trang sức</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_15.png?1735554303306)" href="tui-vi-thoi-trang.html" title="Túi - Ví thời trang">Túi - Ví thời trang</a></li>
            <li class="nav-item "><a class="a-img lazyload_bg" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/menu_2_ico_16.png?1735554303306)" href="lam-dep-suc-khoe.html" title="Làm đẹp - Sức khỏe">Làm đẹp - Sức khỏe</a></li>
        </ul>
    </div>
</div>