<div th:fragment="slider" class="col-xl-10 col-lg-12 right">
    <section class="section_slider row">
        <div class="col-lg-9 slider">
            <div class="swiper-container slide-container margin-bottom-20 border-radius-10">
                <div class="swiper-wrapper">
                    <a href="#" class="clearfix swiper-slide radius-7" title="Sale lớn chào hè">
                        <picture class="d-block aspect position-relative">
                            <source
                                    media="(min-width: 1200px)"
                                    srcset="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_1.jpg?1735554303306">
                            <source
                                    media="(min-width: 992px)"
                                    srcset="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_1.jpg?1735554303306">
                            <source
                                    media="(min-width: 569px)"
                                    srcset="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_1.jpg?1735554303306">
                            <source
                                    media="(max-width: 480px)"
                                    srcset="//bizweb.dktcdn.net/thumb/grande/100/479/080/themes/897121/assets/slider_1.jpg?1735554303306">
                            <img
                                    src="../bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_147e9.jpg?1735554303306"
                                    width="1087"
                                    height="330"
                                    alt="Sale lớn chào hè" class="img-responsive center-block position-absolute" />
                        </picture>
                    </a>
                    <a href="#" class="clearfix swiper-slide radius-7" title="Cuối tuần XẢ VÍ">
                        <picture class="d-block aspect position-relative">
                            <source
                                    media="(min-width: 1200px)"
                                    srcset="/thumb/grande/100/479/080/themes/897121/assets/?1735554303306">
                            <source
                                    media="(min-width: 992px)"
                                    srcset="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_2.jpg?1735554303306">
                            <source
                                    media="(min-width: 569px)"
                                    srcset="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_2.jpg?1735554303306">
                            <source
                                    media="(max-width: 480px)"
                                    srcset="//bizweb.dktcdn.net/thumb/grande/100/479/080/themes/897121/assets/slider_2.jpg?1735554303306">
                            <img
                                    src="//bizweb.dktcdn.net/100/479/080/themes/897121/assets/slider_247e9.jpg?1735554303306"
                                    width="1087"
                                    height="330"
                                    alt="Cuối tuần XẢ VÍ" class="img-responsive center-block position-absolute" />
                        </picture>
                    </a>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-lg-3 banner">
            <a class="margin-bottom-20 border-radius-10 d-inline-block aspect position-relative" href="#" title="Freeship">
                <img class="position-absolute" src="/thumb/large/100/479/080/themes/897121/assets/banner_147e9.jpg?1735554303306" width="389" height="155" alt="Freeship"/>
            </a>
            <a class="margin-bottom-20 border-radius-10 d-inline-block aspect position-relative" href="#" title="Deal">
                <img class="position-absolute" src="/thumb/large/100/479/080/themes/897121/assets/banner_247e9.jpg?1735554303306" width="389" height="155" alt="Deal"/>
            </a>
        </div>
    </section>
    <section class="section_flash flashsale white-border-10 margin-bottom-20">
        <div class="title-module timer border-bottom margin-bottom-5 d-dlex position-relative">
            <h2 class="titleh2 margin-bottom-0 margin-right-30">
                <a href="san-pham-noi-bat.html" title="Deal sốc mỗi ngày">Deal sốc mỗi ngày</a>
            </h2>
            <div class="timein padding-left-50 d-none" data-time="12/12/2023 23:59:59" data-countdown-type="hours">
                <span class="hours"></span>:<span class="minutes"></span>:<span class="second"></span>
            </div>
            <a href="san-pham-noi-bat.html" class="more bold border-radius-8">Xem thêm</a>
        </div>
        <div class="slide-flash position-relative padding-left-4 padding-right-4 padding-bottom-4">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814011"
                         data-inventory-quantity="0"
                         data-management="true"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814011" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <a href="xiaomi-mi-watch-phien-ban-esim-4g-lte.html" class="position-relative d-block aspect" title="Xiaomi Mi Watch Phiên bản Esim (4G/LTE)">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/479/080/products/1-f467d97f-93d1-4c07-8b6b-5a5595d0f6c1-825f84f5-91e0-4f0b-8f0e-ae0d92c523a0.jpg?v=1677614054740"
                                         alt="Xiaomi Mi Watch Phiên bản Esim (4G/LTE)" class="lazyload position-absolute" />
                                </a>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="xiaomi-mi-watch-phien-ban-esim-4g-lte.html" title="Xiaomi Mi Watch Phiên bản Esim (4G/LTE)">Xiaomi Mi Watch Phiên bản Esim (4G/LTE)</a></h3>
                                <div class="price-box position-relative">
                                    Liên hệ
                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814016"
                         data-inventory-quantity="300"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814016" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <span class="flag-label"><span class="label-sale">Sale</span><span class="label-fea">Nổi bật</span></span>
                                <a href="apple-watch-series-7-gps-45mm-vien-nhom-day-cao-su.html" class="position-relative d-block aspect" title="Apple Watch Series 7 GPS 45mm viền nhôm dây cao su">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/479/080/products/1-126a08a9-cfef-4dc1-9076-f22c741df1c8-1011aff3-698b-40a8-bccb-3b76afa5ba69.jpg?v=1677614077360"
                                         alt="Apple Watch Series 7 GPS 45mm viền nhôm dây cao su" class="lazyload position-absolute" />
                                </a>
                                <div class="action-cart">
                                    <input class="hidden" type="hidden" name="variantId" value="82804542" />
                                    <button class="btn-cart btn-left  btn-views left-to option-choice" title="Xem thêm lựa chọn" type="button" onclick="window.location.href='apple-watch-series-7-gps-45mm-vien-nhom-day-cao-su.html'" >
                                        Lựa chọn
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="apple-watch-series-7-gps-45mm-vien-nhom-day-cao-su.html" title="Apple Watch Series 7 GPS 45mm viền nhôm dây cao su">Apple Watch Series 7 GPS 45mm viền nhôm dây cao su</a></h3>
                                <div class="price-box position-relative">
                                    <span class="price">13.990.000₫</span>
                                    <span class="compare-price">-13%</span>

                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814017"
                         data-inventory-quantity="300"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814017" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <span class="flag-label"><span class="label-sale">Sale</span></span>
                                <a href="macbook-pro-16-inch-max-option-apple-m1-max-10.html" class="position-relative d-block aspect" title="MacBook Pro 16-inch Max Option Apple M1 MAX 10">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/thumb/large/100/479/080/products/macbook-pro-16-inch-m1-2021-gray-828a5364-34d9-4349-a843-3cebe4720e79c103.jpg?v=1677614081773"
                                         alt="MacBook Pro 16-inch Max Option Apple M1 MAX 10" class="lazyload position-absolute" />
                                </a>
                                <div class="action-cart">
                                    <input type="hidden" name="variantId" value="82804547" />
                                    <button class="btn-buy btn-left btn-views add_to_cart " title="Cho vào giỏ">
                                        Cho vào giỏ
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="macbook-pro-16-inch-max-option-apple-m1-max-10.html" title="MacBook Pro 16-inch Max Option Apple M1 MAX 10">MacBook Pro 16-inch Max Option Apple M1 MAX 10</a></h3>
                                <div class="price-box position-relative">
                                    <span class="price">46.990.000₫</span>
                                    <span class="compare-price">-6%</span>

                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814018"
                         data-inventory-quantity="300"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814018" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <span class="flag-label"><span class="label-sale">Sale</span></span>
                                <a href="laptop-asus-rog-strix-scar-18-g834jy-n6039w-intel-core-i9-13980hx-rtx-4090-16gb-18-inch-qhd-240hz.html" class="position-relative d-block aspect" title="Laptop Asus ROG Strix SCAR 18 G834JY-N6039W - Intel Core i9 - 13980HX | RTX 4090 16GB | 18 Inch QHD+ 240Hz">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/thumb/large/100/479/080/products/7869-scar-18-e1672832298197-ac9f9d9c-590c-49e6-b4d6-5906badee5101b3c.jpg?v=1677614085920"
                                         alt="Laptop Asus ROG Strix SCAR 18 G834JY-N6039W - Intel Core i9 - 13980HX | RTX 4090 16GB | 18 Inch QHD+ 240Hz" class="lazyload position-absolute" />
                                </a>
                                <div class="action-cart">
                                    <input type="hidden" name="variantId" value="82804548" />
                                    <button class="btn-buy btn-left btn-views add_to_cart " title="Cho vào giỏ">
                                        Cho vào giỏ
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="laptop-asus-rog-strix-scar-18-g834jy-n6039w-intel-core-i9-13980hx-rtx-4090-16gb-18-inch-qhd-240hz.html" title="Laptop Asus ROG Strix SCAR 18 G834JY-N6039W - Intel Core i9 - 13980HX | RTX 4090 16GB | 18 Inch QHD+ 240Hz">Laptop Asus ROG Strix SCAR 18 G834JY-N6039W - Intel Core i9 - 13980HX | RTX 4090 16GB | 18 Inch QHD+ 240Hz</a></h3>
                                <div class="price-box position-relative">
                                    <span class="price">35.000.000₫</span>
                                    <span class="compare-price">-8%</span>

                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814021"
                         data-inventory-quantity="300"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814021" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <span class="flag-label"><span class="label-sale">Sale</span><span class="label-fea">Extra</span></span>
                                <a href="samsung-galaxy-s23-ultra-5g-8gb-256gb-chinh-hang.html" class="position-relative d-block aspect" title="Samsung Galaxy S23 Ultra 5G (8GB|256GB) Chính Hãng">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/thumb/large/100/479/080/products/1-9b89edd8-44fd-4cd9-814d-3180bd171bd5-9320bb2d-8e33-4b1f-be0a-afe7c88b6c941cb0.jpg?v=1677614097447"
                                         alt="Samsung Galaxy S23 Ultra 5G (8GB|256GB) Chính Hãng" class="lazyload position-absolute" />
                                </a>
                                <div class="action-cart">
                                    <input class="hidden" type="hidden" name="variantId" value="82804556" />
                                    <button class="btn-cart btn-left  btn-views left-to option-choice" title="Xem thêm lựa chọn" type="button" onclick="window.location.href='samsung-galaxy-s23-ultra-5g-8gb-256gb-chinh-hang.html'" >
                                        Lựa chọn
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="samsung-galaxy-s23-ultra-5g-8gb-256gb-chinh-hang.html" title="Samsung Galaxy S23 Ultra 5G (8GB|256GB) Chính Hãng">Samsung Galaxy S23 Ultra 5G (8GB|256GB) Chính Hãng</a></h3>
                                <div class="price-box position-relative">
                                    <span class="price">28.990.000₫</span>
                                    <span class="compare-price">-9%</span>

                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                    <div class="swiper-slide flashsale__item"
                         data-pdid="29814023"
                         data-inventory-quantity="300"
                         data-available="true"
                    >
                        <form action="https://oh-thuong-mai-dien-tu.mysapo.net/cart/add" method="post" class="item_product_main variants product-action wishItem"  data-cart-form data-id="product-actions-29814023" enctype="multipart/form-data">
                            <div class="image_thumb">
                                <span class="flag-label"><span class="label-sale">Sale</span><span class="label-fea">Freeship</span></span>
                                <a href="dien-thoai-di-dong-apple-iphone-14-plus-hang-chinh-hang.html" class="position-relative d-block aspect" title="Điện thoại di động Apple iPhone 14 Plus - Hàng chính hãng">
                                    <img width="199" height="199" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/thumb/large/100/479/080/products/1-e25a091b-6d1d-4d3e-b4cb-98790bfd7c967217.jpg?v=1677614104323"
                                         alt="Điện thoại di động Apple iPhone 14 Plus - Hàng chính hãng" class="lazyload position-absolute" />
                                </a>
                                <div class="action-cart">
                                    <input class="hidden" type="hidden" name="variantId" value="82804580" />
                                    <button class="btn-cart btn-left  btn-views left-to option-choice" title="Xem thêm lựa chọn" type="button" onclick="window.location.href='dien-thoai-di-dong-apple-iphone-14-plus-hang-chinh-hang.html'" >
                                        Lựa chọn
                                    </button>
                                </div>
                            </div>
                            <div class="info-product">
                                <h3 class="product-name text2line"><a href="dien-thoai-di-dong-apple-iphone-14-plus-hang-chinh-hang.html" title="Điện thoại di động Apple iPhone 14 Plus - Hàng chính hãng">Điện thoại di động Apple iPhone 14 Plus - Hàng chính hãng</a></h3>
                                <div class="price-box position-relative">
                                    <span class="price">23.190.000₫</span>
                                    <span class="compare-price">-5%</span>

                                </div>

                                <div class="flashsale__bottom position-absolute">
                                    <div class="flashsale__label">Đã bán <b class="flashsale__sold-qty weight-500"></b></div>

                                    <div class="flashsale__progressbar  ">
                                        <div class="flashsale___percent"></div>
                                    </div>
                                </div>
                            </div>
                        </form></div>
                </div>
            </div>
        </div>
        <script>
            window.falshSale = {
                type:"hours",
                dateStart: "30/10/2020",
                dateFinish: "1",
                hourStart: "00:00",
                hourFinish:  "24",
                activeDay: "7",
                finishAction: "show",
                percentMin: "40",
                percentMax: "80",
                maxInStock: "300",
                useSoldQuantity: false,
                quantityType: 'sold',
                timestamp: new Date().getTime(),
            }
        </script>
        <link rel="preload" href="/897121/assets/flashsale47e9.js?1735554303306" as="script">
        <script src="/897121/assets/flashsale47e9.js?1735554303306" defer ></script>
    </section>
    <section class="section_service swiper-container border-radius-10">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="itemsv border-radius-10 lazyload_bg padding-15" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/bg_sv1.jpg?1735554303306)">
                    <a href="#" title="Giảm 50%">
                        <b class="bold d-block">Giảm 50%</b>
                        <span>Đơn tối thiểu 100k</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="itemsv border-radius-10 lazyload_bg padding-15" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/bg_sv2.jpg?1735554303306)">
                    <a href="#" title="Giảm 10k">
                        <b class="bold d-block">Giảm 10k</b>
                        <span>Đơn tối thiểu 100k</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="itemsv border-radius-10 lazyload_bg padding-15" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/bg_sv3.jpg?1735554303306)">
                    <a href="#" title="Freeship">
                        <b class="bold d-block">Freeship</b>
                        <span>Đơn tối thiểu 100k</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="itemsv border-radius-10 lazyload_bg padding-15" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/bg_sv4.jpg?1735554303306)">
                    <a href="#" title="Giảm 2k">
                        <b class="bold d-block">Giảm 2k</b>
                        <span>Đơn tối thiểu 100k</span>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="itemsv border-radius-10 lazyload_bg padding-15" data-background="url(//bizweb.dktcdn.net/100/479/080/themes/897121/assets/bg_sv5.jpg?1735554303306)">
                    <a href="#" title="Giảm 200k">
                        <b class="bold d-block">Giảm 200k</b>
                        <span>Đơn tối thiểu 100k</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>