<div th:fragment="slider">
    <div class="slider-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/img/slider/slider_147e9.jpg" class="d-block w-100" alt="Slide 1" style="max-height: 370px; object-fit: cover; border-radius: 30px; padding: 10px;">
                </div>
                <div class="carousel-item ">
                    <img src="/assets/img/slider/banner_147e9.jpg" class="d-block w-100" alt="Slide 2" style="max-height: 370px; object-fit: cover; border-radius: 30px; padding: 10px;">
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/slider/banner_247e9.jpg" class="d-block w-100" alt="Slide 3" style="max-height: 370px; object-fit: cover; border-radius: 30px; padding: 10px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>
